@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-mono: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  font-family: var(--font-mono);
}

.text-lg {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}
